@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-Black.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-Light.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/../fonts/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-Black.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-BoldItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-Italic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

